.login-btn {
    margin-top: -3%;
    margin-left: 90%;
    font-size: 15px;
}

.login-success {
    margin-top: -3%;
    margin-left: 78%;
    font-size: 15px;
    text-align: center;
}

#important {
    color: #cdbfe3;
    background-color: blue;
    padding: 30px 0;
    margin: -20px 0 20px 0;
}

.container-title {
    color: #fff;
    font-size: 60px
}

.container-content {
    font-size: 24px;
    line-height: 48px
}

.container-wechat {
    margin-left: 32%;
    margin-top: -16%;
    width: 10%;
}

.iconfont {
    color: blue;
}

#loginUserName {
    width: 210px;
    margin-left: 12%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#loginUserName:hover{
    cursor: default;
}