<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Xiexing blob">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/static/image/title.png"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assert/iconfont/iconfont.css"><!--iconfont css-->
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="/static/js/jquery-2.2.4.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/assert/iconfont/iconfont.js"></script>
    <script src="/static/js/base.js"></script>
</head>

<body>
<header class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand" title="点击返回首页">技术社区</a>
        </div>
        <nav class="collapse navbar-collapse" id="bs-navbar">
            <ul class="nav navbar-nav">
                <li><a target="_blank" href="http://xxsp.tech/education/">智能教育系统</a></li>
                <li><a target="_blank" href="https://github.com/xxsp9999/">GitHub</a></li>
                <li><a target="_blank" href="https://me.csdn.net/xxsp9999/">博客</a></li>
            </ul>
        </nav>
    </div>
    {% if user!=null %}
    <div class="login-success">
        <div id="loginUserName" title={{user.user_name}}>欢迎您，{{user.user_name}}</div>
        <div><a href="/logout">退出</a></div>
    </div>
    {% else%}
    <div class="login-btn">
        <a href="/login">登录</a>/<a href="/register">注册</a>
    </div>
    {% endif %}
</header>
<div id="important">
    <div class="container">
        <h1 class="container-title">开始吧</h1>
        <div>
            <p class="container-content">更多交流,加v:xiangshangshuyuan</p>
            <img class="container-wechat" src="/static/image/wechat.png"/>
        </div>
    </div>
</div>
{% block main %} {% endblock %}
<footer style="background-color:#ddd; padding: 20px 0;">
    <div class="container">
        <p>
            <a target="_blank" href="http://xxsp.tech/education/">智能教育系统</a> -
            <a target="_blank" href="https://github.com/xxsp9999/">GitHub</a> -
            <a target="_blank" href="https://me.csdn.net/xxsp9999/">博客</a>
        </p>
        <p>This Blob is created by <a target="_blank" href="/">@谢兴</a>.</p>
        <p>Code licensed <a target="_blank" href="https://github.com/xxsp9999/">Apache</a>.</p>
    </div>
</footer>
</body>

</html>