{% extends "base.html" %} {% block main %}
<link rel="stylesheet" href="/static/css/index.css">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="iconfont icon-zixun"></span>最新资讯</h3>
                </div>
                <div class="panel-body" id="lastedNews">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="iconfont icon-jihua1"></span>最新计划</h3>
                </div>
                <div class="panel-body" id="lastedPlans">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>项目展示</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">JAVA</h3>
                </div>
                <div class="panel-body">
                    <p>智能教育系统</p>
                    <p><a target="_blank" href="https://github.com/xxsp9999/education">更多详情</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">JavaScript</h3>
                </div>
                <div class="panel-body">
                    <p>JS高级用</p>
                    <p><a target="_blank" href="https://github.com/xxsp9999/learn_js">更多详情</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">git主页</h3>
                </div>
                <div class="panel-body">
                    <p>我的所有项目</p>
                    <p><a target="_blank" href="https://github.com/xxsp9999">更多详情</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/index.js"></script>
{% endblock %}